.board{
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: row;
	margin: auto;
}
.row{
	flex: 1;
}
.box{
	width: 200px;
	height: 200px;
	background-color: red;
	margin: 2px;
	background-image: "";
}
.reset{
	display: none;
}